@font-face
{
    font-family: Libertine;
    src: url('../fonts/LinLibertine_R.woff');
}

@font-face
{
    font-family: Biolinum;
    src: url('../fonts/LinBiolinum_R.woff');
}

*
{
    font-family: Biolinum;
}

h1,h2,h3,h4,h5,h6
{
    font-family: Biolinum;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.scripture
{
    font-family: Biolinum;
    font-size: 150%;
}

.scripture_study
{
    font-family: Biolinum;
}

.verse_num
{
    vertical-align: super;
    font-size: 70%;
    color: #AAAAAA;
}

.alternative
{
    /*display: none;*/ /* Do this to hide alternatives */
    font-size: 90%;
    color: #777777;
}

.omission
{
    font-size: 90%;
    color: #777777;
    text-decoration:line-through;
}

.insertion-start,.insertion-end
{
    color: #BBBBBB;
}
