.status_selector {
    width: 200px;    
}

.status_selector > table {
	table-layout: fixed;
	width: 200px;
}

.status_selector > table > tbody > tr > * {
	text-align: center;
}

.status_selector > table > tbody > tr > .f_cell,
.status_selector > table > tbody > tr > .ff_cell,
.status_selector > table > tbody > tr > .roh_cell {
	background: #F0AD4E;
}

.status_selector > table > tbody > tr > .ofbi-status-selected {
	background: #999999;
}

#wrapper {
    margin-top: 300px;
    padding-left: 50%;
}

